.register {
    background-image: url("../../assets/img/bg-register.png");
    background-position-x: center;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 114px);
    justify-content: center;
}

.register__container {
    max-width: 370px;
    width: 100%;
    padding: 18px;
}

.register__title {
    font-family: 'OBoticario';
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
}
@media screen and (max-width: 768px) {
    .register__title {
        font-size: 20px;
    }
}

.register__login {
    margin: 25px 0 0;
    text-align: center;
}

.register__link {
    color: #89c84c;
    transition: color .3s;
}

.register__link:hover {
    color: #333;
    transition: color .3s;
}