.form-label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

.form-input {
    height: 40px;
    display: block;
    width: 100%;
    font-size: 14px;
    font-family: 'Effra', 'Arial', sans-serif;
    margin-bottom: 15px;
    padding: 0 20px;
    border: 0.5px solid #333;
    transition: border .3s;
    border-radius: 20px;
    color: #333;
}

.form-input:focus {
    outline: none;
    border: 0.5px solid #89c84c;
    transition: border .3s;
}

.form-input__error {
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
    color: #ff6347;
    margin-top: -10px;
}