.user {
    width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 25px 20px;
}

.user__data {
    margin-left: 25px;
}

@media screen and (max-width: 768px) {
    .user__data {
        margin-left: 15px;
        width: calc(100% - 165px);
    }
}

@media screen and (max-width: 425px) {
    .user__data {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
}

.user__name {
    font-family: 'OBoticario';
    font-size: 32px;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .user__name {
        font-size: 26px;
    }
}

.user__cashback {
    margin-top: 15px;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .user__cashback {
        font-size: 14px;
    }
}

.user__cashback--highlight {
    color: #89c84c;
    font-weight: 700;
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    margin: 5px 0 0;
}